
.statistics {
    width: 360px;
    margin: 50px auto;
    background-color: #f3f3f3;
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}


.title {
    margin: 0;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    background-color: #f3f3f3;
}


.stat-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}


.stats-item {
    flex: 1;
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    gap: 6px;

    color: white;
    font-weight: 500;
}


.stats-item:nth-child(1) {
    background-color: #4fc3f7;

}

.stats-item:nth-child(2) {
    background-color: #9c27b0;
  
}

.stats-item:nth-child(3) {
    background-color: #f44336;

}

.stats-item:nth-child(4) {
    background-color: #26a69a;
  
}

.stats-item:nth-child(5) {
    background-color: #01201d;

}

.label {
    font-size: 14px;
    opacity: 0.9;
}


.percentage {
    font-size: 20px;
    font-weight: 700;
}